nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #451d55; 
    text-align: right;
    margin-right: 20px;
    
}

nav ul li a {
    color: #ffffff; 
    font-size: 17px;
    
}

.search-container input[type="text"] {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; 
    height: 25px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

th, td {
    
    padding: 8px;
}

th {
   
    color: #090909;
    text-align: center;
}


td {
    text-align: center;
}


td.action-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 2px;
    color: white;
    background-color:#70056f ;
}

td.action-buttons button:hover {
    opacity: 0.8;
}

footer {
    background-color: #451d55;
    padding: 36px;
    width: 100%;
    text-align: center;
    color: hsl(0, 0%, 100%);
    bottom: 0;
    height: 90px;
}
#p1{
    color: white;
    background-color:#70056f
    
    
}
#p3{
    color: white;
    background-color:#70056f
    
}