<html>
<nav>
    <div class="nav-wrapper navbar-size">
        <ul>
            <a href="/" class="brand-logo"><img class="user-image-size" src="../src/public/images/logo.png"></a>
            <li><a href="/">Tips</a></li>
            <li><a href="/visualization">Visualization</a></li>
            <li><a href="/complexity">Complexity</a></li>
            <li><a href="/">Format</a></li>
        </ul>
    </div>
</nav>
<script>
    localStorage.setItem('id', 'sdfgh101');
    const storedValue = localStorage.getItem('id');
    
    const outputElement = document.getElementById('output');
    outputElement.textContent = 'Value from localStorage: ' + storedValue;
</script>
</html>