<html>
<nav>
    <div class="nav-wrapper navbar-size">
        <ul>
            <a href="#" class="brand-logo"><img class="user-image-size" src="../src/public/images/logo.png"></a>
            <li><a href="/tips/">Tips</a></li>
            <li><a href="/visualization/">Visualization</a></li>
            <li><a href="/complexity">Complexity</a></li>
            <li><a href="/format">Format</a></li>
        </ul>
    </div>
</nav>

<div class="p-3 mb-2 text-white">
    <h1 style="color: black">Code Complexity</h1>
    </br>
</div>

</html>