body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Take the whole available space horizontally */
    max-width: 100%; /* Ensure the container does not exceed the width of the window */
    text-align: center;
    flex-grow: 1; /* Allow the container to grow to fill available space */
    flex-shrink: 1; /* Allow the container to shrink if needed */
    overflow-y: auto; /* Add scrollbar if content exceeds viewport height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

h1 {
    color: #333;
    font-size: 50px; /* Adjusted font size */
    font-weight: bold;
}

.result {
    margin-bottom: 50px;
    font-size: 22px;
}

.grade {
    font-size: 50px; /* Adjusted font size */
    font-weight: bold;
    color: #4CAF50; /* Green color for excellent grade */
}

.grade-description {
    display: block;
    font-size: 36px; /* Adjusted font size */
    color: #474747;
    font-weight: bold;
}

.complexity-description {
    font-size: 30px; /* Adjusted font size */
}

.tips {
    text-align: left;
    padding-bottom: 30px; /* Add some space below suggestions */
    font-size: 40px;
}

.tips h2 {
    color: #333;
    font-size: 36px; /* Adjusted font size */
    font-weight: bold;
}

.tips ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.tips li {
    background: #e0f7fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 26px;
    margin: 5px 800px;
}

button:hover {
    background-color: #45a049;
}
