<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Complexity Score</title>
    <link rel="stylesheet" href="/css/user-styles.css">
</head>
<body>
<nav>
        <div class="nav-wrapper navbar-size">
            <ul class="ula">
                <a href="/" class="brand-logo"><img class="user-image-size" src="/images/logo.png"></a>
                <li class="lia" style="background : #BA4EE5"><a href="/">Tips</a></li>
                <li class="lia" style="background : #BA4EE5"><a href="/">Visualization</a></li>
                <li class="lia" style="background : #BA4EE5"><a href="/complexity">Complexity</a></li>
                <li class="lia" style="background : #BA4EE5"><a href="/">Format</a></li>
            </ul>
        </div>
    </nav>
    <br/>
    <div class="container">
        <h1>Your Result</h1>
        <div class="result">
            <span class="grade"><%= grade %></span>
            <span class="grade-description"></span>
            <p class="complexity-description"></p>
        </div>
        <div class="tips">
            <h2>Tips to Improve Your Code:</h2>
            <ul>
                <% suggestedRules.forEach(rule => { %>
                    <li><%= rule %></li>
                <% }); %>
            </ul>
            <button onclick="testNewCode()">Test a New Code</button>
        </div>
    </div>
    <br/>
    <div class="footer">
                   <div class="text">Copyright ©2024 All rights reserved | The Code Complexity Measuring Tool owned by Straight Aces
                   </div>
               </div>
    <script src="/js/userResult.js"></script>

</body>
</html>
