<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Complexity Score</title>
    <link rel="stylesheet" href="/css/user-styles.css">
</head>
<body>
    <div class="container">
        <h1>Your Result</h1>
        <div class="result">
            <span class="grade"><%= grade %></span>
            <span class="grade-description"></span>
            <p class="complexity-description"></p>
        </div>
        <div class="tips">
            <h2>Tips to Improve Your Code:</h2>
            <ul>
                <% suggestedRules.forEach(rule => { %>
                    <li><%= rule %></li>
                <% }); %>
            </ul>
            <button onclick="testNewCode()">Test a New Code</button>
        </div>
    </div>
    <script src="/js/userResult.js"></script>
</body>
</html>
